/* Footer.css */

.footer {
    background-color: #f5f5f5;
    padding: 20px 400px;
    display: flex;
    justify-content: space-between;
}

.footer-column {
    flex: 1;
    text-align: center;
}

.footer p {
    color: #555;
    margin: 0;
}

.footer img {
    padding-top: 10px;
    max-width: 60px;
}