/* Header.css */

.header {
    background-color: #f2f2f2;
    padding: 20px 0;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
}

.header-content {
    display: flex;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}

.header-title {
    color: #333;
    margin: 0;
    font-size: 23px;
}

.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-link {
    text-decoration: none;
    color: #555;
    margin: 0 15px; /*distance between each navigation link*/
    transition: color 0.3s;
}

.nav-link:hover {
    color: #000;
}