.publications-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

/* Style the title and description */
.publications-title {
    margin-bottom: 20px;
}

/* Style the toggle button container */
.toggle-button-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

/* Style the toggle button */
.toggle-button-container button {
    background-color: #007BFF;
    /* Example color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.toggle-button-container button:hover {
    background-color: #0056b3;
    /* Example hover color */
}

/* Style the publications list */
.publications-list {
    text-align: left;
}

/* Style the sections (year and topic) */
.publications-list h2 {
    font-size: 24px;
    margin-top: 20px;
    margin-left: -100px;
}

/* Style the list items (publications) */
.publications-list ul {
    list-style: none;
    padding: 0;
}


/* Reduce space between individual elements in each publication */
.publications-list li p {
    margin: 5px 0;
}


/* Style the list items (publications) */
.publications-list li {
    margin-bottom: 20px;
    /* Increase the margin between publications */
}

/* Style the publication title */
.publications-list h3 {
    font-size: 20px;
    /* Adjust the font size as needed */
    margin: 0;
    /* Remove any additional margin */
}

/* Style the publication details (authors, publishing site, date) */
.publications-list p {
    margin: 5px 0;
    /* Adjust the top and bottom margins for the details */
}

/* Style the authors to make them italic */
.publications-list p.authors {
    font-style: italic;
}